.App {
  scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
  overflow-y: scroll; /* Allow vertical scrolling */
  height: 100vh; /* Set height for scroll container */
}
.section {
  overflow: hidden; /* Prevents overflow for better scroll effect */
  scroll-snap-align: start; 
}
